* {
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}


.container {
    max-width: 940px;
    color: #48555B;
    font-family: Open Sans, sans-serif;
}

div.header {
    width: 1438px;
    height: 769px;
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
}
#logo-img {
    display: block;
    width: 102px;
    height: 21px;
    position: relative;
    top: 2.62%;
}
.header h1 {
    font-family: BebasNeueBold, sans-serif;
    font-size: 60px;
    text-align: center;
    letter-spacing: 5.71px;
    text-transform: uppercase;
    line-height: 70.31px;
    margin: 318px auto 0;
}

.header h2 {
    font-family: Open sans, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

header h3 {
    font-family: Open sans, sans-serif;
    font-size: 11px;
    font-style: normal;
    text-align: center;
    letter-spacing: 3.7px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 221px auto;
}

.menu-bar {
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #E6E6E6;
    display: flex;
    align-items: center;
}
.wrapper{
    max-width: 941px;
    margin: 0 auto;

}
nav a {
    display: inline-block;
    font-size: 12px;
    font-family: Open Sans, sans-serif;
    color: #48555B;
    letter-spacing: 1.09px;
    text-transform: uppercase;
    margin-right: 30px;
}
nav a:last-child{
    margin-right: 0;
}
nav a:hover{
    color: #00A4E5;
}
.logo {
    width: 80px;
    height: 16.43px;
}
.our-story h2{
    font-size: 18px;
    font-weight: bold;
    color: #48555B;
    letter-spacing: 2.31px;
    text-transform: uppercase;
    text-align: center;
    margin: 57px auto 0;
}
.line {
    border-bottom: 2px solid #00A4E5;
    width: 50px;
    margin: 10px auto 0;
}
.about{
    margin-bottom: 117px;
    display: flex;
    justify-content: space-between;
}
.about h3{
    font-size: 20px;
    font-weight: bold;
    color: #48555B;
    letter-spacing: 0.5px;
    text-align: left;
    line-height: 27.24px;
    width: 405.08px;
    margin: 50px 0 0 0;
}
.about p{
    line-height: 23px;
    width: 405.08px;
    height: 115px;
    font-size: 13px;
    font-weight: normal;
    color: #48555B;
    letter-spacing: 0.5px;
    text-align: left;
    margin: 30px 0 0 0;
}
.we div{
    display: inline-block;
    width: 140px;
    height: 224px;
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
    letter-spacing: 0.19px;
    margin-right: 15px;
    margin-top: 76px;
}
.we div:last-child{
    margin-right: 0;
}
.we-plan{
    background-image: url("assets/Bitmap.jpg");
}
.we-manage{
    background-image: url("assets/Bitmap (1).jpg");
}
.we-build{
    background-image: url("assets/Bitmap (2).jpg");
}
.all-services{
    width: 940px;
    height: 446px;
}
.capabilities {
    display: flex;
    justify-content: space-between;
}
.title-line{
    margin-left: 0;
}
.title-line h2{
    width: 198px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #48555B;
}
.title-line line{
    margin-top: 10px;
}
.capabilities p{
    width: 405.4px;
    height: 38px;
    font-size: 11px;
    line-height: 19px;
    text-align: left;
    color: #48555B;
    margin: 0 31.6px 0 155px;
}
button{
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #00A4E5;
    border: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;
}
.info-examples {
    display: flex;
    justify-content: space-between;
    margin-top: 78px;
}
.info{
    width: 295px;
    height: 330px;
    border-width: 1px;
    border-color: #E6E6E6;
    border-style: solid;
    margin: 5px;
    padding: 10px;
}
.info-icon {
    width: 65px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-image: url("assets/Bitmap.svg");
    margin: 38px 0 25px 23px;
}

.info h1{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #48555B;
    text-align: left;
    margin: 0 0 0 23px;

}
.info p{
    width: 250px;
    height: 92px;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: #48555B;
    letter-spacing: 0.19px;
    text-align: left;
}
.get-in-touch{
    width: 100%;
    height: 499px;
    background-color: #48555B;
    background-image: url("assets/bg (1).jpg");}

.get-in-touch button{
    display: flex;
    align-items: center;
}
.get-in-touch h1{
    width: 350px;
    height: 72px;
    font-family: Open Sans, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: initial;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-align: center;
    color: #48555B;
    margin: 325px auto 35px;
}
.email{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 100px;
    background-color: #171819;
}
.email h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 29.96px;
    letter-spacing: 0.85px;
    text-align: left;
    color: #FFFFFF;
    text-transform: none;
    margin-left: 378px;
    margin-right: 70px;
}
.email form{
    border: 1px solid #979797;
    width: 250px;
    height: 40px;
    background-color: #FFFFFF;
    text-align: left;
    margin-right: 0;
    margin-left: 0;
}
.email button{
    margin-left: 0;
}
.footer {
    width: 1440px;
    height: 240px;
    background-color: #141A20;
    font-family: Open Sans, sans-serif;
    padding: 42px 0;
}
.footer .container{
    display: flex;
    color: #FFFFFF;
}
.footer h3{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.85px;
    line-height: 14.98px;
    margin-bottom: 20px;
    margin-left: 0;
}
.company{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    max-width: 250px;
}
.company img{
    width: 101.86px;
    height: 20.99px;
    margin-bottom: 15px;
    margin-left: 0;
}
.contact-links{
    display: grid;
    grid-template-columns: 140px 140px;

}
.contact-links a{
    text-transform: none;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.85px;
    margin-bottom: 10px;
    margin-left: 0;
}
.contact-us p{
    margin-bottom: 20px;
}
.socials{
    display: flex;
}
.socials img{
    width: 12.04px;
    height: 12.04px;
    margin-left: 20px;
}
.copyright{
    width: 1440px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #171819;
    font-family: Open Sans, sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0.85px;
    line-height: 14.98px;
    text-align: center;
}